.navbar-brand img{
    height: 50px;
}

.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('https://images8.alphacoders.com/876/thumb-1920-876413.jpg');
    background-size: cover;
}

.landing-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.landing p{
    font-size: 1.4rem;
}

.announcements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.announcements .card{
    width: 18rem;
    margin: 20px;
}

.announcements .card .card-img-top{
    background-size: cover;
    background-position: center center;
    height: 200px;
    position: relative;
}

.announcements .card .card-img-top .badge{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 1rem;
}

.announcements .card .card-info{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

h1.announcement-title{
    height: 400px;
    background-image: url('https://images8.alphacoders.com/876/thumb-1920-876413.jpg');
    background-size: cover;
    position: relative;
    margin-bottom: 0;
}

h1.announcement-title span{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.carousel-inner > .carousel-item {
    height: 400px;
}

.carousel-inner {
    margin-left: 25%;
    width: 50%;
}
